@using Microsoft.AspNetCore.Identity
@using Ava.Data

@inject SignInManager<ApplicationUser> SignInManager

<ul class="flex flex-col space-y-2">
    <li>
        <NavLink class="block px-4 py-2 rounded-lg text-primary hover:bg-blue-100 hover:text-blue-800" href="Account/Manage" Match="NavLinkMatch.All">Profile</NavLink>
    </li>
    <li>
        <NavLink class="block px-4 py-2 rounded-lg text-primary hover:bg-blue-100 hover:text-blue-800" href="Account/Manage/Email">Email</NavLink>
    </li>
    <li>
        <NavLink class="block px-4 py-2 rounded-lg text-primary hover:bg-blue-100 hover:text-blue-800" href="Account/Manage/ChangePassword">Password</NavLink>
    </li>
</ul>