@page "/Admin/Roles"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Ava.Components.Account.Shared

@inherits Ava.Components.Bases.LayoutBase
@inject IRoleService RoleService
@inject NavigationManager Navigation
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Roles</PageTitle>
<AuthorizeView Roles="Admin">
    <Authorized>
        @if (roles != null)
        {
            <nav class="flex" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                    <li class="inline-flex items-center" aria-current="page">
                        <a href="Admin/Roles" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                            <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                            </svg>
                            Roles
                        </a>
                    </li>
                </ol>
            </nav>
            <div class="container mx-auto">
                <section class="bg-gray-50 dark:bg-gray-900">
                    <div class="mx-auto max-w-screen-xl">
                        <!-- Start coding here -->
                        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
                            <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                                <div class="w-full md:w-1/2">
                                    <form class="flex items-center">
                                        <label for="simple-search" class="sr-only">Search</label>
                                        <div class="relative w-full">
                                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                                </svg>
                                            </div>
                                            <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Search" required="">
                                        </div>
                                    </form>
                                </div>
                                <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
                                    <button type="button" class="flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800" @onclick="NavigateToAddRole">
                                        <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                            <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                                        </svg>
                                        Add role
                                    </button>
                                </div>
                            </div>
                            <div class="overflow-x-auto">
                                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                        <tr>
                                            <th scope="col" class="px-4 py-3">Name</th>
                                            <th scope="col" class="px-4 py-3">User Count</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var role in roles)
                                        {
                                            <tr class="border-b dark:border-gray-700 hover:bg-gray-100 cursor-pointer" @onclick="() => NavigateToRole(role.Role.Name)">
                                                <td class="px-4 py-3">@role.Role.Name</td>
                                                <td class="px-4 py-3">@role.UserCount</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        }
        else
        {
            <em>Loading....</em>
        }
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<RoleWithUserCount> roles = new List<RoleWithUserCount>();

    /// <summary>
    /// Called when the component is initialized.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        try
        {
            roles = (await RoleService.GetRolesAsync()).ToList();
        }
        catch (Exception ex)
        {
            // Handle the exception as needed, e.g., logging
        }
    }

    /// <summary>
    /// Navigates to the role editing page.
    /// </summary>
    /// <param name="roleId">The ID of the role to edit.</param>
    private void EditRole(string roleId)
    {
        Navigation.NavigateTo($"/Admin/Role/{roleId}/Edit");
    }

    /// <summary>
    /// Navigates to the add role page.
    /// </summary>
    private void NavigateToAddRole()
    {
        Navigation.NavigateTo("Admin/Role/New");
    }

    /// <summary>
    /// Navigates to the role detail page.
    /// </summary>
    /// <param name="roleName">The name of the role to view.</param>
    private void NavigateToRole(string roleName)
    {
        Navigation.NavigateTo($"/Admin/Roles/{roleName}/");
    }

    /// <summary>
    /// Deletes a role by its ID.
    /// </summary>
    /// <param name="roleId">The ID of the role to delete.</param>
    private async Task DeleteRole(string roleId)
    {
        var role = await RoleService.GetRoleByIdAsync(roleId);
        if (role != null)
        {
            var result = await RoleService.DeleteRoleAsync(roleId);
            if (result)
            {
                roles = (await RoleService.GetRolesAsync()).ToList();
            }
            else
            {
                // Handle the error as needed, e.g., show a message to the user
            }
        }
    }
}
