@page "/Admin/User/{userId}/"
@inject UserService UserService
@using Ava.Data
@using Microsoft.AspNetCore.Authorization
@using Ava.Components.Account.Shared
@using Ava.Components.Admin.Users.Components
@inherits Ava.Components.Bases.LayoutBase
@attribute [Authorize(Roles = "Admin")]

<AuthorizeView Roles="Admin">
    <Authorized>
        <UserNavBar User="user" />
        <div class="flex justify-center mt-1">
            <div class="w-4/5">
                <div class="flex p-2">

                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

@code
{
    [Parameter]
    public string userId { get; set; } = default!;

    private ApplicationUser user = default!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if(userId != default)
        {
            user = await UserService.FindUserByIdAsync(userId);
        }
    }
}
