@tailwind base;
@tailwind components;
@tailwind utilities;

h1:focus {
    outline: none !important;
}

#blazor-error-ui {
    display: none
}

.text-primary {
    color: #0f7278;
}

.bg-primary {
    background-color: #0f7278;
}

.border-primary {
    border-color: #a1a8ad;
}

.border-primary:hover {
    border-color: #0f7278;
}

.card-hover:hover {
    background-color: #1f2125 !important;
    color: white;
}

.card-hover:hover img {
    filter: brightness(0.8);
}